In [1]:
import pandas as pd 
df = pd.read_csv("Hitters.csv")

In [2]:
df.head()

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague
0,293,66,1,30,29,14,1,293,66,1,30,29,14,A,E,446,33,20,NaN,A
1,315,81,7,24,38,39,14,3449,835,69,321,414,375,N,W,632,43,10,475.0,N
2,479,130,18,66,72,76,3,1624,457,63,224,266,263,A,W,880,82,14,480.0,A
3,496,141,20,65,78,37,11,5628,1575,225,828,838,354,N,E,200,11,3,500.0,N
4,321,87,10,39,42,30,2,396,101,12,48,46,33,N,E,805,40,4,91.5,N

In [3]:
df.dropna().sum()

AtBat                                                   106158
Hits                                                     28359
HmRun                                                     3056
Runs                                                     14398
RBI                                                      13541
Walks                                                    10813
Years                                                     1923
CAtBat                                                  698934
CHits                                                   189935
CHmRun                                                   18210
CRuns                                                    95001
CRBI                                                     86900
CWalks                                                   68450
League       NANNANANAANNANNANNANAANNNANAANNAAANANANAANNNAA...
Division     WWEEWEWWEEWEEEWWWEWWEEEWWWWEWWWEEEWEWWEWEWWWEE...
PutOuts                                                  76457
Assists                                                  31234
Errors                                                    2260
Salary                                              140948.507
NewLeague    NANNAAANAANNANNANNNNAANNNANAANNAAANANANAANNNAA...
dtype: object

In [4]:
df.dropna().sum()

AtBat                                                   106158
Hits                                                     28359
HmRun                                                     3056
Runs                                                     14398
RBI                                                      13541
Walks                                                    10813
Years                                                     1923
CAtBat                                                  698934
CHits                                                   189935
CHmRun                                                   18210
CRuns                                                    95001
CRBI                                                     86900
CWalks                                                   68450
League       NANNANANAANNANNANNANAANNNANAANNAAANANANAANNNAA...
Division     WWEEWEWWEEWEEEWWWEWWEEEWWWWEWWWEEEWEWWEWEWWWEE...
PutOuts                                                  76457
Assists                                                  31234
Errors                                                    2260
Salary                                              140948.507
NewLeague    NANNAAANAANNANNANNNNAANNNANAANNAAANANANAANNNAA...
dtype: object

In [5]:
df = df.dropna()
df = pd.get_dummies(df, columns=['League', 'Division', 'NewLeague'], drop_first=True)

In [6]:

y = df['Salary']
X = df.drop('Salary', axis=1)

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)